<div class="container">
  <div class="bubble-sort-title">
    <h2>Bubble Sort</h2> <a href="#modal1"><img class="info-png" src="info.png" alt="info tag"></a>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  </div>

  <%= react_component 'Search', arr: @arr %>
</div>
